{% extends "componentes/layout.html" %}

{% block title %}
Página do Usuário
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Detalhes do Usuário
        </div>
        <div class="card-body">
            <h5 class="card-title">Informações do Usuário</h5>
            <form action="{{ url_for('update_user', email=user['email']) }}" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ user['email'] }}"
                        readonly>
                    <button type="button" class="btn btn-primary mt-2" id="edit-email">Editar</button>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" id="password" name="password"
                        value="{{ user['senha'] }}" readonly>
                    <button type="button" class="btn btn-primary mt-2" id="edit-password">Editar</button>
                </div>
                
                <button type="submit" class="btn btn-success mt-2" id="update-button"
                    style="display: none;">Atualizar</button>
                <a href="{{ url_for('index') }}" class="btn btn-secondary mt-2">Voltar</a>
                <a href="{{ url_for('logout') }}" class="btn btn-secondary mt-2">Deslogar</a>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('edit-email').addEventListener('click', function () {
        document.getElementById('email').removeAttribute('readonly');
        document.getElementById('update-button').style.display = 'block';
    });

    document.getElementById('edit-password').addEventListener('click', function () {
        document.getElementById('password').removeAttribute('readonly');
        document.getElementById('update-button').style.display = 'block';
    });
</script>
{% endblock %}